{% extends "base.html" %}

{% block title %} Berita {% endblock title %}

{% block meta %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ object.title }}" />
<meta property="og:description" content="{{ object.content }}" />
<meta property="og:image" content="{{ object.thumbnail.url }}" />
{% endblock meta %}

{% block content %}
<div class="section is-header">
    <div class="container">
        <div class="col lg-12">
            <div class="breadcrumb margin-bottom-double">
                <a href="/">Beranda</a>
                <a href="/news"><span class="fa margin-left-small margin-right-small is-xsmall"></span>Berita</a>
                <span class="fa margin-left-small margin-right-small is-xsmall"></span>{{ object.title }}</div>
            <h1 class="heading-beta">{{ object.title }}</h1>
        </div>
    </div>
    <div class="container flex-horizontal margin-bottom-double">
        <div class="col lg-6 md-12">
            <div>
                <div class="text-medium weight-is-black margin-bottom">{{ object.subtitle }}</div>
                <p>{{ object.headline }}</p>
            </div>
        </div>
        <div class="col lg-2 no-margin-bottom"></div>
        <div class="col lg-4 md-12 md-order-last">
            <a href="#" class="c-single-post__header-link">Sampaikan aspirasi</a>
            <a href="career-landing.html" class="c-single-post__header-link">Komentar</a>
            <div class="fb-like" data-href="{{ request.build_absolute_uri }}" data-width="" data-layout="button_count"
                data-action="like" data-size="small" data-share="false"></div>
            <div class="fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count"
                data-size="small">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                    class="fb-xfbml-parse-ignore">Bagikan</a>
            </div>
        </div>
    </div>
    <div class="container margin-bottom-double">
        <div class="col lg-12">
            <div class="c-article__date">{{ object.publish_date|date:'d-M-Y' }}</div>
            <div class="c-article__date-divider"></div>
        </div>
    </div>

    <div class="container">
        <div class="col lg-3 md-12 md-order-last">
            <div class="c-article__related">
                <div class="margin-bottom-double text-small weight-is-black low-text-contrast">Related Articles
                </div>
                <div data-delay="3000" data-animation="slide" data-autoplay="1" data-duration="500" data-infinite="1"
                    class="c-article_related-slider w-slider">
                    <div class="w-slider-mask">
                        <div class="w-slide">
                            <div>
                                <h4 class="margin-bottom">Sollicitudin Consectetur Ullamcorper Risus Ligula</h4>
                                <div class="text-small low-text-contrast">1 January 2020</div>
                            </div>
                        </div>
                        <div class="w-slide">
                            <div>
                                <h4 class="margin-bottom">Cras justo odio, dapibus ac facilisis in, egestas eget
                                    quam</h4>
                                <div class="text-small low-text-contrast">9 January 2020</div>
                            </div>
                        </div>
                        <div class="w-slide">
                            <div>
                                <h4 class="margin-bottom">Vivamus sagittis lacus vel augue laoreet rutrum faucibus
                                    dolor auctor. </h4>
                                <div class="text-small low-text-contrast">21 February 2021</div>
                            </div>
                        </div>
                        <div class="w-slide">
                            <div>
                                <h4 class="margin-bottom">Fusce Fermentum Pellentesque Egestas Commodo</h4>
                                <div class="text-small low-text-contrast">3 March 2020</div>
                            </div>
                        </div>
                        <div class="w-slide">
                            <div>
                                <h4 class="margin-bottom">Dapibus Pellentesque Ornare Ultricies</h4>
                                <div class="text-small low-text-contrast">31 November 2020</div>
                            </div>
                        </div>
                    </div>
                    <div class="hidden w-slider-arrow-left">
                        <div class="w-icon-slider-left"></div>
                    </div>
                    <div class="hidden w-slider-arrow-right">
                        <div class="w-icon-slider-right"></div>
                    </div>
                    <div class="c-article_related-slider-nav w-slider-nav w-slider-nav-invert w-round"></div>
                </div>
            </div>
        </div>



    {{ object.content|safe }}
    </div>
    <div class="container">
        <div class="col lg-12 no-margin-bottom md-12">
            <div class="c-article__author">
                <div class="container container-nested flexh-align-center">
                    <div class="col lg-2 text-align-center no-margin-bottom-lg"><img src="images/portrait1.png" alt=""
                            class="margin-bottom rounded-pic">
                        <div class="text-small text-align-center weight-is-black">Tim AJP</div>
                    </div>
                    <div class="col lg-10 no-margin-bottom">
                        <p class="text-small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                            varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor
                            interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
                            id rutrum lorem imperdiet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col lg-12 no-margin-bottom md-12">
            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}"
                data-width="100%" data-numposts="5"></div>
        </div>
    </div>
</div>

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

{% endblock content %}
