<div class="section">
    <div class="container">
        <div class="col lg-12">
            <div class="size-h2">Other blog posts</div>
        </div>
    </div>
    <div class="container flex-horizontal">
        <div class="col lg-4 md-12"><img src="images/three.jpg"
                srcset="images/three-p-500.jpeg 500w, images/three-p-800.jpeg 800w, images/three-p-1600.jpeg 1600w, images/three.jpg 1651w"
                sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, 29vw" alt=""
                class="margin-bottom">
            <h3 class="margin-bottom-small">Startup Fundraising 101: The Pros and Cons of Different Sources of Funding
            </h3>
            <div class="margin-bottom">Nullam id dolor id nibh ultricies vehicula ut id elit. Praesent commodo cursus
                magna, vel scelerisque nisl consectetur et.</div><a href="#" class="cta-link"><span
                    class="margin-right">Read more</span> <span class="fa c-cta1_arrow-hovered"></span> <span
                    class="fa c-cta1__arrow-normal"></span></a>
        </div>
        <div class="col lg-4 md-12"><img src="images/two.jpg"
                srcset="images/two-p-500.jpeg 500w, images/two-p-800.jpeg 800w, images/two-p-1600.jpeg 1600w, images/two.jpg 1651w"
                sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, 29vw" alt=""
                class="margin-bottom">
            <h3 class="margin-bottom-small">How Much Information Should You Include In A Pitch Deck You Email</h3>
            <div class="margin-bottom">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus</div><a href="#" class="cta-link"><span class="margin-right">Read
                    more</span> <span class="fa c-cta1_arrow-hovered"></span> <span
                    class="fa c-cta1__arrow-normal"></span></a>
        </div>
        <div class="col lg-4 md-12"><img src="images/seven.jpg"
                srcset="images/seven-p-800.jpeg 800w, images/seven.jpg 1200w"
                sizes="(max-width: 479px) 90vw, (max-width: 767px) 94vw, (max-width: 991px) 95vw, 29vw" alt=""
                class="margin-bottom">
            <h3 class="margin-bottom-small">How To Reach 1000 GitHub Stars in Your First Open-Source Software</h3>
            <div class="margin-bottom">Ut fermentum massa justo sit amet risus. Cum sociis natoque penatibus. Praesent
                commodo cursus magna, vel scelerisque</div><a href="#" class="cta-link"><span class="margin-right">Read
                    more</span> <span class="fa c-cta1_arrow-hovered"></span> <span
                    class="fa c-cta1__arrow-normal"></span></a>
        </div>
    </div>
</div>