{% extends "base.html" %}

{% block title %} Kegiatan {% endblock title %}

{% block content %}
<div class="section is-header bg-accent position-relative bg-img3">
    <div class="container flex-horizontal position-relative">
        <div class="col lg-8 md-12">
            <div class="breadcrumb margin-bottom-double"><a href="/">Beranda</a><span
                    class="fa margin-left-small margin-right-small is-xsmall"></span>Kegiatan</div>
            <div class="header-content-wrapper">
                <div class="pre-title">995 completed projects and counting</div>
                <h1>Kunjungan Kerja</h1>
                <div class="text-medium">Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus
                    varius blandit sit amet non magna. Cras justo odio, dapibus ac facilisis in, egestas eget quam.
                    Donec ullamcorper nulla non metus auctor fringilla.</div>
            </div>
        </div>
        <div class="col lg-1"></div>
        <div class="col lg-6 no-margin-bottom md-12"></div>
    </div>
</div>

{% if object_list %}
<div class="section position-relative overflow-hidden"><img src="/static/images/Group-1.svg" alt="" class="bg-decoration8">
    <div class="container">
        <div class="col lg-7">
            <h2>Kami bekerja sama dengan orang yang ambisius; kami ingin membangun sesuatu bersama.</h2>
        </div>
    </div>
    <div class="container is-fullwidth">
        <div class="col lg-12 no-padding-lr">
            <div class="w-layout-grid c-grid3x3">
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab76e" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">Google Partnership — Bringing the best of Google to people across the
                            globe<br></p>
                    </div>
                    <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                        class="c-grid1__image"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab776" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">BeatsByDre.com — Leading a digital transformation &amp; eComm
                            redesign<br></p>
                    </div>
                    <div class="c-grid1__image img2"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab77e" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">Crafted — Giving creators of all disciplines a seat at the table<br>
                        </p>
                    </div>
                    <div class="c-grid1__image img3"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab786" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">BBDakota.com — Bringing storytelling and personality to eCommerce<br>
                        </p>
                    </div>
                    <div class="c-grid1__image img4"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab78e" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">Culture Manual — Realigning company culture through brand &amp;
                            digital</p>
                    </div>
                    <div class="c-grid1__image img5"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab798" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">VisionFund.com — Digitally enriching a multibillion-dollar
                            enterprise<br></p>
                    </div>
                    <div class="c-grid1__image img6"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab7a0" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">HeathCeramics.com - An eCommerce experience as crafted as their
                            products<br></p>
                    </div>
                    <div class="c-grid1__image img7"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab7a8" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">OXO.com — Bridging the gap between kitchen and keyboard<br></p>
                    </div>
                    <div class="c-grid1__image img8"></div>
                </a>
                <a data-w-id="15129abd-76b7-0551-cef3-b93fd87ab7b0" href="#" class="c-grid1__item w-inline-block">
                    <div class="c-grid1__content zindex5">
                        <div class="c-grid1__partner">Kundapil</div>
                        <p class="paragraph">Nixon.com — An eComm &amp; digital transformation driving global
                            growth<br></p>
                    </div>
                    <div class="c-grid1__image img9"></div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="container">
    {% if object_list.has_other_pages %}
    <div class="col lg-12">
        <div class="c-paging">
            {% if object_list.has_previous %}
            <div class="c-paging__number is-arrow"><a href="?page=1"></a></div>
            {% else %}
            <div class="c-paging__number is-arrow"></div>
            {% endif %}

            {% for i in object_list.paginator.page_range %}
            {% if object_list.number == i %}
            <div class="c-paging__number is-active">{{ i }}</div>
            {% else %}
            <a href="?page={{ i }}" class="c-paging__number">{{ i }}</a>
            {% endif %}
            {% endfor %}

            {% if object_list.has_next %}
            <a href="?page={{ object_list.paginator.num_pages }}" class="c-paging__number is-arrow"></a>
            {% else %}
            <div class="c-paging__number is-arrow"></div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</div>
<div class="section position-relative">
    <div class="container">
        <div class="col lg-3"></div>
        <div class="col lg-7 md-12">
            <div class="pre-title"><strong>Ayo Bekerja Bersama</strong></div>
            <h2>Kami mendengarkan aspirasi Anda</h2>
            <div>Sampaikan aspirasi Anda untuk masa depan Sulut</div>
        </div>
        <div class="col lg-2 md-12"><a href="/contact" class="w-inline-block"><img src="/static/images/circle-button.svg"
                    alt=""></a></div>
    </div><img src="/static/images/Group-1.svg" alt="" class="bg-decoration7">
</div>
{% endblock content %}