<div class="section padding-bottom-16 is-dark padding-top-quint">
    <div class="container flex-horizontal">
		<div class="col lg-3 flexv-space-between md-12">
			<h3 class="logotype is-medium margin-bottom">adrian</h3>
			<div class="footer-tagline margin-bottom">.love the aspiration</div>
		</div>
		<div class="col lg-1 no-margin-bottom"></div>
		<div class="col lg-8 md-12">
			<div class="text-xlarge margin-bottom-quad is-thin">Mari berkolaborasi dan beraspirasi untuk Sulut -
				masih banyak yang perlu kita perjuangkan bersama.<br>
				<a href="mailto:admin@adrianparuntu.id" class="email-footer">aspirasi@adrianparuntu.id</a>
			</div>
			<div class="container container-nested is-wrapped">
				<div class="col lg-3 no-margin-bottom-lg md-12">
					<div class="size-h4 margin-bottom">Kantor</div>
					<p class="margin-bottom">
						Senayan —<br>
						Gedung Nusantara I<br>
						Jakarta, ID 19200<br>
					</p>
				</div>
				<div class="col lg-3 no-margin-bottom-lg md-12">
					<div class="size-h4 margin-bottom">Tautan</div>
					<a href="https://www.kemdikbud.go.id/main/" target="blank" class="footer-nav-link is-bold on-dark">Kemendikbud</a>
					<a href="https://www.kemenpar.go.id/" target="blank" class="footer-nav-link is-bold on-dark">Kemenparekraf</a>
					<a href="http://www.kemenpora.go.id/" target="blank" class="footer-nav-link is-bold on-dark">Kemenpora</a>
				</div>
				<div class="col lg-3 md-12">
					<div class="size-h4 margin-bottom">&nbsp;</div>
					<a href="https://www.perpusnas.go.id/" target="blank" class="footer-nav-link is-bold on-dark">Perpusnas</a>
					<a href="http://ksap.dpr.go.id/" target="blank" class="footer-nav-link is-bold on-dark">B.K.S.A.P</a>
				</div>
				<div class="col lg-3 no-margin-bottom-lg md-12">
					<div class="size-h4 margin-bottom">Ayo beraspirasi</div>
					<a href="tel:+62215715818" class="footer-nav-link on-dark w-inline-block">
						<div><span class="fa-brand w24"><i class="fa fa-phone"></i></span> Telepon</div>
					</a>
					<a href="#" class="footer-nav-link on-dark w-inline-block">
						<div><span class="fa-brand w24"><i class="fa fa-facebook"></i></span> Facebook</div>
					</a>
					<a href="#" class="footer-nav-link on-dark w-inline-block">
						<div><span class="fa-brand w24"><i class="fa fa-instagram"></i></span> Instagram</div>
					</a>
				</div>
			</div>
		</div>
    </div>
    <div class="container">
      <div class="col lg-6 no-margin-bottom md-12 md-order-last">
        <div class="low-text-contrast text-small flexh-space-between md-flex-vertical">
          <div class="md-order-last">©{% now "Y" %} Adrian Jopie Paruntu . All rights reserved. </div><a href="#"
            class="footer-bottom-link on-dark">Privacy Policy</a><a href="#" class="footer-bottom-link on-dark">Term Of
            Service</a>
        </div>
      </div>
      <div class="col lg-6 no-margin-bottom md-12">
        <div class="w100 text-align-right footer-bottom md-text-align-left margin-bottom">Made in Jakarta, Indonesia
        </div>
      </div>
    </div>
  </div>