<div class="section-header position-absolute">
    <div class="container space-between">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
        <div class="navbar-container flexh-space-between w-container">
			<a href="/" class="brand order-first w-nav-brand w--current">
				<h3 class="logotype">adrian</h3>
			</a>
			<nav role="navigation" class="nav-menu order-last w-nav-menu">
				<!-- <a href="about.html" class="nav-link w-nav-link">Tentang</a> -->
				<!-- <div data-hover="1" data-delay="0" data-w-id="cd8b9d07-cda5-d1af-cfca-7d0df9daeccb" class="nav-dropdown w-dropdown">
					<div class="nav-link w-dropdown-toggle">
						<div class="w-icon-dropdown-toggle"></div>
						<div>Ruang Lingkup</div>
					</div>
					<nav class="dropdown-list w-dropdown-list">
						<a href="#" class="dropdown-link w-dropdown-link">Pendidikan</a>
						<a href="#" class="dropdown-link w-dropdown-link">Olahraga</a>
						<a href="#" class="dropdown-link w-dropdown-link">Pariwisata dan Ekonomi Kreatif</a>
					</nav>
				</div> -->
				<a href="/events" class="nav-link w-nav-link">Kegiatan</a>
				<a href="/news" class="nav-link w-nav-link">Berita</a>
				<div data-hover="1" data-delay="0" data-w-id="cd8b9d07-cda5-d1af-cfca-7d0df9daeccb" class="nav-dropdown w-dropdown">
					<div class="nav-link w-dropdown-toggle">
						<div class="w-icon-dropdown-toggle"></div>
						<div>Alat Kelengkapan</div>
					</div>
					<nav class="dropdown-list w-dropdown-list">
						<a href="https://www.kemdikbud.go.id/main/" class="dropdown-link w-dropdown-link">Kemendikbud</a>
						<a href="https://www.kemenpar.go.id/" class="dropdown-link w-dropdown-link">Kemenparekraf</a>
						<a href="http://www.kemenpora.go.id/" class="dropdown-link w-dropdown-link">Kemenpora</a>
						<a href="https://www.perpusnas.go.id/" class="dropdown-link w-dropdown-link">Perpusnas</a>
						<a href="http://ksap.dpr.go.id/" class="dropdown-link w-dropdown-link">B.K.S.A.P</a>
					</nav>
				</div>
				<a href="contact-us.html" class="nav-link w-nav-link">Kepartaian</a>
				<a href="contact-us.html" class="nav-link w-nav-link">Kontak</a>
				<a href="career-landing.html" class="button-primary button-primary-small margin-left md-margin-bottom-small w-inline-block">
					<div class="button-primary-text">Aspirasi</div>
				</a>
			</nav>
			<div class="menu-button order-last w-nav-button">
				<img src="/static/images/burger-menu-icon-1.svg" width="22" alt="" class="burger-menu-icon">
			</div>
		</div>
		</div>
	</div>
</div>