<div class="section-header position-absolute">
    <div class="container space-between">
      <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
        <div class="navbar-container flexh-space-between w-container">
			<a href="/" class="brand order-first w-nav-brand w--current">
				<h3 class="logotype">adrian</h3>
			</a>
			<nav role="navigation" class="nav-menu order-last w-nav-menu">
				<a href="/event" class="nav-link w-nav-link">Kegiatan</a>
				<a href="/news" class="nav-link w-nav-link">Berita</a>
				<a href="/party" class="nav-link w-nav-link">Kepartaian</a>
				<a href="/contact" class="nav-link w-nav-link">Kontak</a>
				<a href="/aspiration" class="button-primary button-primary-small margin-left md-margin-bottom-small w-inline-block">
					<div class="button-primary-text">Aspirasi</div>
				</a>
			</nav>
			<div class="menu-button order-last w-nav-button">
				<img src="/static/images/burger-menu-icon-1.svg" width="22" alt="" class="burger-menu-icon">
			</div>
		</div>
		</div>
	</div>
</div>