{% extends "base.html" %}

{% block title %} Berita {% endblock title %}

{% block content %}
<div class="section bg-accent bg-blog is-header">
    <div class="container flex-horizontal position-relative">
		<div class="col lg-7 md-12">
			<div class="breadcrumb margin-bottom-double">
				<a href="/">Beranda</a><span class="fa margin-left-small margin-right-small is-xsmall"></span>Berita
			</div>
			<div class="header-content-wrapper">
				<div class="c-gridpost__category">
					<a href="#">Kemenpora</a> / <a href="#">PON</a>
				</div>
				<a href="#" class="color-body-text w-inline-block">
					<h1 class="margin-bottom-small">Sosialisasi PON 2020 beberapa daerah di Sulut</h1>
					<div class="margin-bottom text-large">PON 2020 berlangsung di Papua. Agar demam PON bisa terasa ke seluruh penjuru Indonesia, Amali memberikan instruksi sosialosasi.</div>
				</a>
				<a href="single-post.html" class="cta-link">
					<span class="margin-right">Selengkapnya</span> <span class="fa c-cta1_arrow-hovered"><i class="fa fa-long-arrow-right"></i></span> <span class="fa c-cta1__arrow-normal"></span>
				</a>
			</div>
		</div>
		<div class="col lg-5 no-margin-bottom"></div>
    </div>
</div>
<div class="section">
    <div class="container flex-horizontal container-wrap">
		{% for object in object_list %}
		<div class="col lg-4 md-12 margin-bottom-quad">
			<a href="{{ object.slug }}" class="w-inline-block">
				<img src="{{ object.thumbnail.url }}" alt="" class="margin-bottom">
			</a>
			<div class="c-gridpost__category">
				<a href="#">Partai</a> / <a href="#">Musda</a>
			</div>
        <h3 class="margin-bottom-small">{{ object.title }}</h3>
		<div class="margin-bottom">{{ object.headline|truncatechars:130 }}</div>
		<a href="{{ object.slug }}" class="cta-link">
			<span class="margin-right">Selengkapnya</span>
			<span class="fa c-cta1_arrow-hovered"><i class="fa fa-long-arrow-right"></i></span>
			<span class="fa c-cta1__arrow-normal"></span>
		</a>
		</div>
		{% endfor %}
	</div>
</div>

<div class="container">
	{% if object_list.has_other_pages %}
    <div class="col lg-12">
        <div class="c-paging">
			{% if object_list.has_previous %}
			<div class="c-paging__number is-arrow"><a href="?page=1"></a></div>
			{% else %}
			<div class="c-paging__number is-arrow"></div>
			{% endif %}

			{% for i in object_list.paginator.page_range %}
			{% if object_list.number == i %}
			<div class="c-paging__number is-active">{{ i }}</div>
			{% else %}
			<a href="?page={{ i }}" class="c-paging__number">{{ i }}</a>
			{% endif %}
			{% endfor %}

			{% if object_list.has_next %}
			<a href="?page={{ object_list.paginator.num_pages }}" class="c-paging__number is-arrow"></a>
			{% else %}
			<div class="c-paging__number is-arrow"></div>
			{% endif %}
		</div>
	</div>
	{% endif %}
</div>
</div>
{% endblock content %}