{% extends "base.html" %}

{% block title %} Berita {% endblock title %}

{% block content %}
<div class="section bg-accent bg-blog is-header">
    <div class="container flex-horizontal position-relative">
		<div class="col lg-7 md-12">
			<div class="breadcrumb margin-bottom-double">
				<a href="/">Beranda</a><span class="fa margin-left-small margin-right-small is-xsmall"></span>Berita
			</div>
			<div class="header-content-wrapper">
				<div class="c-gridpost__category">
					<a href="#">Design</a> / <a href="#">Technology</a>
				</div>
				<a href="#" class="color-body-text w-inline-block">
					<h1 class="margin-bottom-small">How Influencer Marketing Needs to be Decentralized</h1>
					<div class="margin-bottom text-large">As influencer marketing on YouTube and Instagram likely peaked in 2020, micro influencers are seeking new channels to grow more organically and earn a side income.</div>
				</a>
				<a href="single-post.html" class="cta-link">
					<span class="margin-right">Selengkapnya</span> <span class="fa c-cta1_arrow-hovered"><i class="fa fa-long-arrow-right"></i></span> <span class="fa c-cta1__arrow-normal"></span>
				</a>
			</div>
		</div>
		<div class="col lg-5 no-margin-bottom"></div>
    </div>
</div>
<div class="section">
    <div class="container flex-horizontal container-wrap">
		{% for object in object_list %}
		<div class="col lg-4 md-12 margin-bottom-quad">
			<a href="single-post.html" class="w-inline-block">
				<img src="{{ object.thumbnail.url }}" alt="" class="margin-bottom">
			</a>
			<div class="c-gridpost__category">
				<a href="#">Design</a> / <a href="#">Technology</a>
			</div>
        <h3 class="margin-bottom-small">{{ object.title }}</h3>
		<div class="margin-bottom">{{ object.headline|truncatechars:130 }}</div>
		<a href="{{ object.slug }}" class="cta-link">
			<span class="margin-right">Selengkapnya</span>
			<span class="fa c-cta1_arrow-hovered"><i class="fa fa-long-arrow-right"></i></span>
			<span class="fa c-cta1__arrow-normal"></span>
		</a>
		</div>
		{% endfor %}
	</div>
</div>
<div class="container">
    <div class="col lg-12">
        <div class="c-paging">
			<div class="c-paging__number is-arrow"></div>
			<div class="c-paging__number is-active">1</div>
			<a href="#" class="c-paging__number">2</a>
			<a href="#" class="c-paging__number">3</a>
			<a href="#" class="c-paging__number">4</a>
			<a href="#" class="c-paging__number">5</a>
			<div class="c-paging__number">...</div>
			<a href="#" class="c-paging__number">10</a>
			<a href="#" class="c-paging__number is-arrow"></a>
		</div>
    </div>
</div>
</div>
{% endblock content %}