{% extends "base.html" %}

{% block title %} Kepartaian {% endblock title %}

{% block content %}
<div class="section is-header bg-accent position-relative overflow-hidden">
    <div class="container flex-horizontal position-relative">
        <div class="col lg-8 md-12">
            <div class="breadcrumb margin-bottom-double"><a href="/">Beranda</a><span
                    class="fa margin-left-small margin-right-small is-xsmall"></span>Kepartaian</div>
            <div class="header-content-wrapper is-transparent no-padding-trbl">
                <h1>Mari berkolaborasi dan beraspirasi - masih banyak yang perlu kita perjuangkan</h1>
                <div class="text-medium">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vivamus sagittis
                    lacus vel augue laoreet rutrum faucibus dolor auctor.</div>
            </div>
        </div>
    </div><img src="/static/images/blob3.svg" alt="" class="bg-decoration9">
</div>
<div class="section position-relative overflow-hidden">
    <div class="container flex-horizontal position-relative">
        <div class="col lg-5 alignself-center md-12 no-margin-bottom">
            <div class="pre-title on-dark">Preceeding title</div>
            <div class="pre-title">Motivating Clicks across Channels</div>
            <h2>Sekretaris AMPG</h2>
            <p class="margin-bottom-double">Maecenas faucibus mollis interdum. Nullam id dolor id nibh ultricies
                vehicula ut id elit. Curabitur blandit tempus porttitor.Etiam porta sem malesuada magna mollis euismod.
            </p>
            <div class="container container-nested is-wrapped">
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Media Planning &amp; Optimization</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Performance Media Buying</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Affiliate Marketing</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Direct Commerce</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
            </div>
        </div>
        <div class="col lg-1 no-margin-bottom"></div>
        <div class="col lg-6 md-12">
            <div class="c-listbox h100 flexv-justify-center">
                <h3 class="margin-bottom">Capabilities</h3>
                <div class="container container-nested">
                    <div class="col lg-6 no-margin-bottom-lg">
                        <ul class="c-checklist">
                            <li class="c-checklist_item">Media Planning &amp; Buying</li>
                            <li class="c-checklist_item">Paid Search</li>
                            <li class="c-checklist_item">Programmatic Display</li>
                            <li class="c-checklist_item">Amazon &amp; Marketplaces</li>
                            <li class="c-checklist_item">Paid Mobile, Local &amp; Social</li>
                            <li class="c-checklist_item">Local &amp; National Radio Activation</li>
                            <li class="c-checklist_item">OOH, Print &amp; Promotional Media</li>
                            <li class="c-checklist_item">Bid Management &amp; Automation</li>
                        </ul>
                    </div>
                    <div class="col lg-6 no-margin-bottom-lg">
                        <ul class="c-checklist">
                            <li class="c-checklist_item">Media KPIs &amp; Reporting</li>
                            <li class="c-checklist_item">Targeting &amp; Segmentation</li>
                            <li class="c-checklist_item">Programmatic Display</li>
                            <li class="c-checklist_item">Change Management &amp; Socialization</li>
                            <li class="c-checklist_item">Advanced Analytics &amp; Attribution</li>
                            <li class="c-checklist_item">Omni-Channel Recommendations</li>
                            <li class="c-checklist_item">Performance Video</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><img src="/static/images/Group-1.svg" alt="" class="bg-decoration8 is-aligned-right">
</div>
<div class="container">
    <div class="col lg-12 no-margin-bottom">
        <div class="hr is-light"></div>
    </div>
</div>
<div class="section position-relative">
    <div class="container flex-horizontal">
        <div class="col lg-5 alignself-center md-12 no-margin-bottom">
            <div class="pre-title on-dark">Preceeding title</div>
            <div class="pre-title">Measure, Optimize, Convert, Repeat</div>
            <h2>Bendahara AMPG</h2>
            <p class="margin-bottom-double">Sed posuere consectetur est at lobortis. Duis mollis, est non commodo
                luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <div class="container container-nested is-wrapped">
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Cross Channel Attribution Modeling</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Data Management &amp; Personalization</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Business Intelligence</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Predictive Analysis</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
            </div>
        </div>
        <div class="col lg-1 no-margin-bottom"></div>
        <div class="col lg-6 md-12">
            <div class="c-listbox h100 flexv-justify-center">
                <h3 class="margin-bottom">Capabilities</h3>
                <div class="container container-nested">
                    <div class="col lg-6 no-margin-bottom-lg">
                        <ul class="c-checklist">
                            <li class="c-checklist_item">Cross-Channel Reporting &amp; Insight Creation</li>
                            <li class="c-checklist_item">Business Intelligence through Proprietary Dashboards</li>
                            <li class="c-checklist_item">Proprietary Tech Platforms</li>
                            <li class="c-checklist_item">KPI Development &amp; Measurement Planning</li>
                        </ul>
                    </div>
                    <div class="col lg-6 no-margin-bottom-lg">
                        <ul class="c-checklist">
                            <li class="c-checklist_item">Marketing Platform Selection &amp; Solutions Integration</li>
                            <li class="c-checklist_item">Predictive Modeling</li>
                            <li class="c-checklist_item">Cross-Channel Attribution</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><img src="/static/images/Group-1.svg" alt="" class="bg-decoration-9">
</div>
<div class="container">
    <div class="col lg-12 no-margin-bottom">
        <div class="hr is-light"></div>
    </div>
</div>
<!-- <div class="section position-relative overflow-hidden">
    <div class="container flex-horizontal position-relative">
        <div class="col lg-5 alignself-center md-12 no-margin-bottom">
            <div class="pre-title on-dark">Preceeding title</div>
            <div class="pre-title">Deciphering Consumer Intent</div>
            <h2>Planning &amp; insights</h2>
            <p class="margin-bottom-double">Sed posuere consectetur est at lobortis. Duis mollis, est non commodo
                luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
            <div class="container container-nested is-wrapped">
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Consumer Insights</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Strategic Research</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Competitive Intelligence</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
                <div class="col lg-6">
                    <div class="text-medium weight-is-medium">Communications Planning</div>
                    <div>Donec id elit non mi porta gravida at eget metus.</div>
                </div>
            </div>
        </div>
        <div class="col lg-1 no-margin-bottom"></div>
        <div class="col lg-6 md-12">
            <div class="c-listbox h100 flexv-justify-center">
                <h3 class="margin-bottom">Capabilities</h3>
                <div class="container container-nested">
                    <div class="col lg-6 no-margin-bottom-lg">
                        <ul class="c-checklist">
                            <li class="c-checklist_item">Media Planning &amp; Buying</li>
                            <li class="c-checklist_item">Paid Search</li>
                            <li class="c-checklist_item">Programmatic Display</li>
                            <li class="c-checklist_item">Amazon &amp; Marketplaces</li>
                            <li class="c-checklist_item">Paid Mobile, Local &amp; Social</li>
                            <li class="c-checklist_item">Local &amp; National Radio Activation</li>
                            <li class="c-checklist_item">OOH, Print &amp; Promotional Media</li>
                            <li class="c-checklist_item">Bid Management &amp; Automation</li>
                        </ul>
                    </div>
                    <div class="col lg-6 no-margin-bottom-lg">
                        <ul class="c-checklist">
                            <li class="c-checklist_item">Media KPIs &amp; Reporting</li>
                            <li class="c-checklist_item">Targeting &amp; Segmentation</li>
                            <li class="c-checklist_item">Programmatic Display</li>
                            <li class="c-checklist_item">Change Management &amp; Socialization</li>
                            <li class="c-checklist_item">Advanced Analytics &amp; Attribution</li>
                            <li class="c-checklist_item">Omni-Channel Recommendations</li>
                            <li class="c-checklist_item">Performance Video</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><img src="/static/images/Group-1.svg" alt="" class="bg-decoration8 is-aligned-right">
</div> -->
{% endblock content %}